/* purgecss start ignore */
@import '~prism-themes/themes/prism-material-dark.css';
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

pre[class*='language-'] {
  @apply shadow-lg;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply rounded bg-dark-purple-800;
}

pre:not(.language-text) {
  @apply text-xs leading-none;
}

code.language-text {
  @apply text-sm tracking-wider;
}

@screen md {
  pre:not(.language-text) {
    @apply text-sm;
  }

  code.language-text {
    @apply text-base;
  }
}

code.language-text {
  word-wrap: break-word;
  @apply bg-dark-purple-200 text-dark-purple-600 px-1 break-words whitespace-pre-line !important;
}

.mode-dark code.language-text {
  @apply text-white bg-dark-purple-700 !important;
}

code[class*='language-']::selection,
code[class*='language-'] span::selection {
  background: rgba(159, 122, 234, 0.1);
}

code[class*='language-'] .token.comment {
  @apply text-dark-purple-500;
}

code[class*='language-'] .token.class-name {
  @apply text-yellow-500;
}

a {
  @apply text-pink-600 transition-colors duration-300;
}

.mode-dark a {
  @apply text-indigo-400;
}

a:hover {
  @apply text-pink-700;
}

.mode-dark a:hover {
  @apply text-indigo-500;
}

hr {
  @apply h-px border-0 opacity-25 bg-dark-purple-500;
}

article strong {
  @apply text-dark-purple-700;
}

.mode-dark article strong {
  @apply text-white;
}

article ul {
  @apply whitespace-normal list-disc list-inside;
}

article h3 {
  @apply text-xl font-medium text-dark-purple-500;
}

.mode-dark article h3 {
  @apply text-dark-purple-100;
}

article blockquote {
  @apply whitespace-normal py-2 px-4 border-l-4 rounded-r shadow border-dark-purple-300 bg-dark-purple-150 !important;
}

.mode-dark article blockquote {
  @apply border-dark-purple-500 bg-dark-purple-800 !important;
}
